.btn {
  cursor: pointer;
  color: var(--white);
  background: #d946ef;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  &:hover {
    background: #a21caf;
    box-shadow: var(--shadow-3);
  }
}
.btn-hipster {
  color: #d946ef;
  background: #f5d0fe;
  &:hover {
    color: #f5d0fe;
    background: #a21caf;
  }
}
.btnBlock {
  width: 100%;
}
